In [4]:
# (x): not in the lesson
# Load the DBI package
library(DBI)
library(RMySQL)

In [11]:
# Create connection to MySQL on localhost (x)
con = dbConnect(MySQL(), 
                user = 'root', 
                password = '1234', 
                dbname = 'test',
                host = 'localhost')

ERROR: Error in .local(drv, ...): Failed to connect to database: Error: Plugin caching_sha2_password could not be loaded: The specified module could not be found.

In [12]:
# Edit dbConnect() call
con <- dbConnect(MySQL(), 
                 dbname = "tweater", 
                 host = "courses.csrrinzqubik.us-east-1.rds.amazonaws.com", 
                 port = 3306,
                 user = "student",
                 password = "datacamp")

## GET TABLE NAMES IN SCHEMA

In [13]:
# Get table names: tables
table_names <- dbListTables(con)

# Display structure of tables
str(table_names)

 chr [1:3] "comments" "tweats" "users"

## IMPORT 1 TABLE

In [14]:
# Import the users table from tweater: users
users <- dbReadTable(con, "users")

# Print users
users

  id name      login
1 1  elisabeth elismith
2 2  mike      mikey
3 3  thea      teatime
4 4  thomas    tomatotom
5 5  oliver    olivander
6 6  kate      katebenn
7 7  anjali    lianja

## IMPORT ALL TABLES

In [15]:
# Import all tables
tables <- lapply(table_names, dbReadTable, conn = con)

# Print out tables
tables

[[1]]
     id tweat_id user_id            message
1  1022       87       7              nice!
2  1000       77       7             great!
3  1011       49       5            love it
4  1012       87       1   awesome! thanks!
5  1010       88       6              yuck!
6  1026       77       4      not my thing!
7  1004       49       1  this is fabulous!
8  1030       75       6           so easy!
9  1025       88       2             oh yes
10 1007       49       3           serious?
11 1020       77       1 couldn't be better
12 1014       77       1       saved my day

[[2]]
  id user_id
1 75       3
2 88       4
3 77       6
4 87       5
5 49       1
6 24       7
                                                                 post
1                                       break egg. bake egg. eat egg.
2                           wash strawberries. add ice. blend. enjoy.
3                       2 slices of bread. add cheese. grill. heaven.
4               open and crush avocado. add shrimps. perfect starter.
5 nachos. add tomato sauce, minced meat and cheese. oven for 10 mins.
6                              just eat an apple. simply and healthy.
        date
1 2015-09-05
2 2015-09-14
3 2015-09-21
4 2015-09-22
5 2015-09-22
6 2015-09-24

[[3]]
  id      name     login
1  1 elisabeth  elismith
2  2      mike     mikey
3  3      thea   teatime
4  4    thomas tomatotom
5  5    oliver olivander
6  6      kate  katebenn
7  7    anjali    lianja

## SOME QUERY

In [16]:
# Create data frame specific
specific <- dbGetQuery(con, "SELECT message FROM comments WHERE tweat_id = 77 and user_id > 4")

# Print specific
specific

  message
1 great!

In [17]:
# Create data frame short
short <- dbGetQuery(con, "SELECT id, name FROM users WHERE char_length(name) < 5")

# Print short
short

  id name
1 2  mike
2 3  thea
3 6  kate

In [18]:
# Create dataframe join
join <- dbGetQuery(con, "SELECT post, message
  FROM tweats INNER JOIN comments on tweats.id = tweat_id
                   WHERE tweat_id = 77")

# Print join
join

  post                                          message
1 2 slices of bread. add cheese. grill. heaven. great!
2 2 slices of bread. add cheese. grill. heaven. not my thing!
3 2 slices of bread. add cheese. grill. heaven. couldn't be better
4 2 slices of bread. add cheese. grill. heaven. saved my day

## ALTERNATIVE TO DBGETQUERY, FETCH RESULTS IN CHUNK

In [19]:
# Send query to the database
res <- dbSendQuery(con, "SELECT * FROM comments WHERE user_id > 4")

# Fetching the result of executing the query on the database
dbFetch(res, n =2)
dbFetch(res)

# Clear res
dbClearResult(res)

  id   tweat_id user_id message
1 1022 87       7       nice!
2 1000 77       7       great!

  id   tweat_id user_id message
1 1011 49       5       love it
2 1010 88       6       yuck!
3 1030 75       6       so easy!

[1] TRUE

## DISCONNECT DATABASE

In [20]:
# Disconnect from the database
dbDisconnect(con)

[1] TRUE