<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#ANY-KEYS-SPAN-THROUGH-28-DATASETS?" data-toc-modified-id="ANY-KEYS-SPAN-THROUGH-28-DATASETS?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>ANY KEYS SPAN THROUGH 28 DATASETS?</a></span></li><li><span><a href="#COMMON-KEYS" data-toc-modified-id="COMMON-KEYS-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>COMMON KEYS</a></span></li><li><span><a href="#WHICH-DATASETS-USED-PLAYERID?" data-toc-modified-id="WHICH-DATASETS-USED-PLAYERID?-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>WHICH DATASETS USED PLAYERID?</a></span></li><li><span><a href="#WHO-ARE-THE-PLAYERS?" data-toc-modified-id="WHO-ARE-THE-PLAYERS?-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>WHO ARE THE PLAYERS?</a></span></li><li><span><a href="#HOW-MANY-PLAYERS-ARE-COMPLETELY-MISSING-SALARY-INFO?" data-toc-modified-id="HOW-MANY-PLAYERS-ARE-COMPLETELY-MISSING-SALARY-INFO?-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>HOW MANY PLAYERS ARE COMPLETELY MISSING SALARY INFO?</a></span></li><li><span><a href="#MISS-SALARY-BECAUSE-THEY-DID-NOT-PLAY" data-toc-modified-id="MISS-SALARY-BECAUSE-THEY-DID-NOT-PLAY-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>MISS SALARY BECAUSE THEY DID NOT PLAY</a></span></li><li><span><a href="#MAYBE-UNSALARIED-PLAYERS-ONLY-PLAYED-1-OR-2-GAMES,-DID-NOT-EARN-FULL-SALARY" data-toc-modified-id="MAYBE-UNSALARIED-PLAYERS-ONLY-PLAYED-1-OR-2-GAMES,-DID-NOT-EARN-FULL-SALARY-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>MAYBE UNSALARIED PLAYERS ONLY PLAYED 1 OR 2 GAMES, DID NOT EARN FULL SALARY</a></span></li><li><span><a href="#MAYBE-UNSALARIED-PLAYERS-DID-NOT-ACTUALLY-PLAY-IN-THE-GAMES-THAT-THEY-APPEARED-IN-(SUBSTITUTE)" data-toc-modified-id="MAYBE-UNSALARIED-PLAYERS-DID-NOT-ACTUALLY-PLAY-IN-THE-GAMES-THAT-THEY-APPEARED-IN-(SUBSTITUTE)-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>MAYBE UNSALARIED PLAYERS DID NOT ACTUALLY PLAY IN THE GAMES THAT THEY APPEARED IN (SUBSTITUTE)</a></span></li><li><span><a href="#HOW-MANY-PLAYERS-HAVE-BEEN-NOMINATED-FOR-THE-HALL-OF-FAME?" data-toc-modified-id="HOW-MANY-PLAYERS-HAVE-BEEN-NOMINATED-FOR-THE-HALL-OF-FAME?-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>HOW MANY PLAYERS HAVE BEEN NOMINATED FOR THE HALL OF FAME?</a></span></li><li><span><a href="#HOW-MANY-WERE-ADMITTED-TO-HALL-OF-FAME-FROM-NOMINATED?" data-toc-modified-id="HOW-MANY-WERE-ADMITTED-TO-HALL-OF-FAME-FROM-NOMINATED?-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>HOW MANY WERE ADMITTED TO HALL OF FAME FROM NOMINATED?</a></span></li><li><span><a href="#DID-NOMINEES-WHO-WERE-INDUCTED-EARN-MORE-AWARDS?" data-toc-modified-id="DID-NOMINEES-WHO-WERE-INDUCTED-EARN-MORE-AWARDS?-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>DID NOMINEES WHO WERE INDUCTED EARN MORE AWARDS?</a></span></li><li><span><a href="#DOES-MAXIMUM-SALARY-EARNED-BY-INDUCTEES-TEND-TO-BE-GREATER-THAN-NOMINEES-NOT-INDUCTED?" data-toc-modified-id="DOES-MAXIMUM-SALARY-EARNED-BY-INDUCTEES-TEND-TO-BE-GREATER-THAN-NOMINEES-NOT-INDUCTED?-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>DOES MAXIMUM SALARY EARNED BY INDUCTEES TEND TO BE GREATER THAN NOMINEES NOT INDUCTED?</a></span></li><li><span><a href="#TEST-FACT:-PLAYERS-CANNOT-BE-NOMINATED-UNTIL-5-YEARS-AFTER-THEY-RETIRE" data-toc-modified-id="TEST-FACT:-PLAYERS-CANNOT-BE-NOMINATED-UNTIL-5-YEARS-AFTER-THEY-RETIRE-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>TEST FACT: PLAYERS CANNOT BE NOMINATED UNTIL 5 YEARS AFTER THEY RETIRE</a></span></li></ul></div>

In [10]:
library(purrr)
library(dplyr)
library(Lahman)
lahmanNames <- readRDS('lahmanNames.RDS')

## ANY KEYS SPAN THROUGH 28 DATASETS?

In [25]:
# Examine lahmanNames
tail(lahmanNames, n = 2)

$TeamsFranchises
# A tibble: 4 x 1
  var
  <chr>
1 franchID
2 franchName
3 active
4 NAassoc

$TeamsHalf
# A tibble: 10 x 1
   var
   <chr>
 1 yearID
 2 lgID
 3 teamID
 4 Half
 5 divID
 6 DivWin
 7 Rank
 8 G
 9 W
10 L

In [12]:
# Find variables in common
reduce(lahmanNames, intersect)

     var

## COMMON KEYS

In [14]:
head(lahmanNames %>%  
  # Bind the data frames in lahmanNames
  bind_rows(.id = "dataframe") %>%
  # Group the result by var
  group_by(var) %>%
  # Tally the number of appearances
  summarise(n = n()) %>% # tally()
  # Filter the data
  filter(n > 1) %>% 
  # Arrange the results
  arrange(desc(n)))

  var      n
1 yearID   21
2 playerID 19
3 lgID     17
4 teamID   13
5 G        10
6 L         6

## WHICH DATASETS USED PLAYERID?

In [15]:
lahmanNames %>% 
  # Bind the data frames
  bind_rows(.id = "dataframe") %>%
  # Filter the results
  filter(var == "playerID") %>% 
  # Extract the dataframe variable
  `$`(dataframe)

 [1] "AllstarFull"         "Appearances"         "AwardsManagers"
 [4] "AwardsPlayers"       "AwardsShareManagers" "AwardsSharePlayers"
 [7] "Batting"             "BattingPost"         "CollegePlaying"
[10] "Fielding"            "FieldingOF"          "FieldingPost"
[13] "HallOfFame"          "Managers"            "ManagersHalf"
[16] "Master"              "Pitching"            "PitchingPost"
[19] "Salaries"

## WHO ARE THE PLAYERS?

In [23]:
# Master data
str(Master)

'data.frame':	19105 obs. of  26 variables:
 $ playerID    : chr  "aardsda01" "aaronha01" "aaronto01" "aasedo01" ...
 $ birthYear   : int  1981 1934 1939 1954 1972 1985 1850 1877 1869 1866 ...
 $ birthMonth  : int  12 2 8 9 8 12 11 4 11 10 ...
 $ birthDay    : int  27 5 5 8 25 17 4 15 11 14 ...
 $ birthCountry: chr  "USA" "USA" "USA" "USA" ...
 $ birthState  : chr  "CO" "AL" "AL" "CA" ...
 $ birthCity   : chr  "Denver" "Mobile" "Mobile" "Orange" ...
 $ deathYear   : int  NA NA 1984 NA NA NA 1905 1957 1962 1926 ...
 $ deathMonth  : int  NA NA 8 NA NA NA 5 1 6 4 ...
 $ deathDay    : int  NA NA 16 NA NA NA 17 6 11 27 ...
 $ deathCountry: chr  NA NA "USA" NA ...
 $ deathState  : chr  NA NA "GA" NA ...
 $ deathCity   : chr  NA NA "Atlanta" NA ...
 $ nameFirst   : chr  "David" "Hank" "Tommie" "Don" ...
 $ nameLast    : chr  "Aardsma" "Aaron" "Aaron" "Aase" ...
 $ nameGiven   : chr  "David Allan" "Henry Louis" "Tommie Lee" "Donald William" ...
 $ weight      : int  215 180 190 190 184 220 192 170 175 169 ...
 $ height      : int  75 72 75 75 73 73 72 71 71 68 ...
 $ bats        : Factor w/ 3 levels "B","L","R": 3 3 3 3 2 2 3 3 3 2 ...
 $ throws      : Factor w/ 3 levels "L","R","S": 2 2 2 2 1 1 2 2 2 1 ...
 $ debut       : chr  "2004-04-06" "1954-04-13" "1962-04-10" "1977-07-26" ...
 $ finalGame   : chr  "2015-08-23" "1976-10-03" "1971-09-26" "1990-10-03" ...
 $ retroID     : chr  "aardd001" "aaroh101" "aarot101" "aased001" ...
 $ bbrefID     : chr  "aardsda01" "aaronha01" "aaronto01" "aasedo01" ...
 $ deathDate   : Date, format: NA NA ...
 $ birthDate   : Date, format: "1981-12-27" "1934-02-05" ...

In [19]:
players <- Master %>% 
  # Return one row for each distinct player
  distinct(playerID, nameFirst, nameLast)

head(players)

  playerID  nameFirst nameLast
1 aardsda01 David     Aardsma
2 aaronha01 Hank      Aaron
3 aaronto01 Tommie    Aaron
4 aasedo01  Don       Aase
5 abadan01  Andy      Abad
6 abadfe01  Fernando  Abad

## HOW MANY PLAYERS ARE COMPLETELY MISSING SALARY INFO?

In [24]:
# Salary data
str(Salaries)

'data.frame':	26428 obs. of  5 variables:
 $ yearID  : int  1985 1985 1985 1985 1985 1985 1985 1985 1985 1985 ...
 $ teamID  : Factor w/ 46 levels "ANA","ARI","ATL",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ lgID    : Factor w/ 2 levels "AL","NL": 2 2 2 2 2 2 2 2 2 2 ...
 $ playerID: chr  "barkele01" "bedrost01" "benedbr01" "campri01" ...
 $ salary  : int  870000 550000 545000 633333 625000 800000 150000 483333 772000 250000 ...

In [21]:
players %>% 
  # Find all players who do not appear in Salaries
  anti_join(Salaries, by = "playerID") %>%
  # Count them
  count() # = summarise(n())

  n
1 13958

## MISS SALARY BECAUSE THEY DID NOT PLAY

In [28]:
# Appearance
head(Appearances)

  yearID teamID lgID playerID  G_all GS G_batting G_defense G_p G_c ... G_2b
1 1871   TRO    NA   abercda01  1    NA  1         1        0    0  ...  0
2 1871   RC1    NA   addybo01  25    NA 25        25        0    0  ... 22
3 1871   CL1    NA   allisar01 29    NA 29        29        0    0  ...  2
4 1871   WS3    NA   allisdo01 27    NA 27        27        0   27  ...  0
5 1871   RC1    NA   ansonca01 25    NA 25        25        0    5  ...  2
6 1871   FW1    NA   armstbo01 12    NA 12        12        0    0  ...  0
  G_3b G_ss G_lf G_cf G_rf G_of G_dh G_ph G_pr
1  0   1    0     0   0     0   NA   NA   NA
2  0   3    0     0   0     0   NA   NA   NA
3  0   0    0    29   0    29   NA   NA   NA
4  0   0    0     0   0     0   NA   NA   NA
5 20   0    1     0   0     1   NA   NA   NA
6  0   0    0    11   1    12   NA   NA   NA

In [26]:
players %>% 
  anti_join(Salaries, by = "playerID") %>% 
  # How many unsalaried players appear in Appearances?
  semi_join(Appearances, by = "playerID") %>% 
  count()

  n
1 13765

No, they still appear in the match

## MAYBE UNSALARIED PLAYERS ONLY PLAYED 1 OR 2 GAMES, DID NOT EARN FULL SALARY

In [29]:
players %>% 
  # Find all players who do not appear in Salaries
  anti_join(Salaries, by = "playerID") %>% 
  # Join them to Appearances
  left_join(Appearances, by = "playerID") %>% 
  # Calculate total_games for each player
  group_by(playerID) %>%
  summarise(total_games = sum(G_all, na.rm = TRUE)) %>%
  # Arrange in descending order by total_games
  arrange(desc(total_games))

      playerID  total_games
1     yastrca01 3308
2     aaronha01 3298
3     cobbty01  3034
4     musiast01 3026
5     mayswi01  2992
6     robinbr01 2896
7     kalinal01 2834
8     collied01 2824
9     robinfr02 2808
10    wagneho01 2795
11    speaktr01 2792
12    ottme01   2730
13    maranra01 2670
14    morgajo02 2649
15    brocklo01 2616
16    aparilu01 2601
17    mccovwi01 2588
18    wanerpa01 2550
19    bankser01 2528
20    ansonca01 2524
21    crawfsa01 2517
22    ruthba01  2504
23    willibi01 2488
24    lajoina01 2480
25    pinsova01 2470
26    careyma01 2466
27    dahlebi01 2444
28    fairlro01 2442
29    killeha01 2435
30    clemero01 2433
...   ...       ...
13929 sullipa99 0
13930 sulliwi01 0
13931 suttlmu99 0
13932 taylobe99 0
13933 tayloge99 0
13934 thomafr99 0
13935 thompam99 0
13936 tigheja99 0
13937 torricr99 0
13938 toscaca99 0
13939 trebeto99 0
13940 trembda99 0
13941 turnete99 0
13942 veeckbi99 0
13943 vondech99 0
13944 walshmi99 0
13945 waltzjo99 0
13946 watkiha99 0
13947 weaveea99 0
13948 weissge99 0
13949 wellswi99 0
13950 whiteso99 0
13951 wilkijl99 0
13952 williji99 0
13953 willijo99 0
13954 wilsoju99 0
13955 winklbo99 0
13956 wrighal99 0
13957 yawketo99 0
13958 youngni99 0

There are many players have 0 games but most of them play many games

## MAYBE UNSALARIED PLAYERS DID NOT ACTUALLY PLAY IN THE GAMES THAT THEY APPEARED IN (SUBSTITUTE)

In [30]:
players %>%
  # Find unsalaried players
  anti_join(Salaries, by = "playerID") %>% 
  # Join Batting to the unsalaried players
  left_join(Batting, by = "playerID") %>% 
  # Group by player
  group_by(playerID) %>% 
  # Sum at-bats for each player
  summarise(total_at_bat = sum(AB, na.rm = TRUE)) %>% 
  # Arrange in descending order
  arrange(desc(total_at_bat))

      playerID  total_at_bat
1     aaronha01 12364
2     yastrca01 11988
3     cobbty01  11434
4     musiast01 10972
5     mayswi01  10881
6     robinbr01 10654
7     wagneho01 10430
8     brocklo01 10332
9     ansonca01 10277
10    aparilu01 10230
11    speaktr01 10195
12    kalinal01 10116
13    maranra01 10078
14    robinfr02 10006
15    collied01  9949
16    pinsova01  9645
17    lajoina01  9589
18    crawfsa01  9570
19    becklja01  9526
20    wanerpa01  9459
21    ottme01    9456
22    clemero01  9454
23    bankser01  9421
24    careyma01  9363
25    willibi01  9350
26    morgajo02  9277
27    ricesa01   9269
28    foxne01    9232
29    daviswi02  9174
30    cramedo01  9140
...   ...       ...
13929 woodscl01 0
13930 woodsjo01 0
13931 woodske01 0
13932 woodwro01 0
13933 woodyma01 0
13934 worthri01 0
13935 wrighal99 0
13936 wrighbo01 0
13937 wrighch01 0
13938 wrighji02 0
13939 wrighji03 0
13940 wurmfr01  0
13941 yarnaed01 0
13942 yawketo99 0
13943 yeabsbe01 0
13944 ynoami01  0
13945 yochira01 0
13946 youngki01 0
13947 youngma03 0
13948 youngni99 0
13949 youngti01 0
13950 yountla01 0
13951 zaratma01 0
13952 zaskeje01 0
13953 zavadcl01 0
13954 zavarcl01 0
13955 zelleba01 0
13956 ziemst01  0
13957 zinkch01  0
13958 zinsebi01 0

=> really miss salary info, not unsalaried players

## HOW MANY PLAYERS HAVE BEEN NOMINATED FOR THE HALL OF FAME?

In [45]:
# Find the distinct players that appear in HallOfFame
nominated <- HallOfFame %>% 
  distinct(playerID)

head(nominated)

  playerID
1 cobbty01
2 ruthba01
3 wagneho01
4 mathech01
5 johnswa01
6 lajoina01

In [32]:
nominated %>% 
  # Count the number of players in nominated
  count()

  n
1 1260

In [37]:
nominated_full <- nominated %>% 
  # Join to Master
  left_join(Master, by = "playerID") %>% 
  # Return playerID, nameFirst, nameLast
  select(playerID, nameFirst, nameLast)

head(nominated_full)

  playerID  nameFirst nameLast
1 cobbty01  Ty        Cobb
2 ruthba01  Babe      Ruth
3 wagneho01 Honus     Wagner
4 mathech01 Christy   Mathewson
5 johnswa01 Walter    Johnson
6 lajoina01 Nap       Lajoie

## HOW MANY WERE ADMITTED TO HALL OF FAME FROM NOMINATED?

In [44]:
# Find distinct players in HallOfFame with inducted == "Y"
inducted <- HallOfFame %>% 
  filter(inducted == "Y") %>% 
  distinct(playerID)

head(inducted)

  playerID
1 cobbty01
2 ruthba01
3 wagneho01
4 mathech01
5 johnswa01
6 lajoina01

In [35]:
inducted %>% 
  # Count the number of players in inducted
  count()

  n
1 317

In [38]:
inducted_full <- inducted %>% 
  # Join to Master
  left_join(Master, by = "playerID") %>% 
  # Return playerID, nameFirst, nameLast
  select(playerID, nameFirst, nameLast)

head(inducted_full)

  playerID  nameFirst nameLast
1 cobbty01  Ty        Cobb
2 ruthba01  Babe      Ruth
3 wagneho01 Honus     Wagner
4 mathech01 Christy   Mathewson
5 johnswa01 Walter    Johnson
6 lajoina01 Nap       Lajoie

## DID NOMINEES WHO WERE INDUCTED EARN MORE AWARDS?

In [43]:
# Tally the number of awards in AwardsPlayers by playerID
nAwards <- AwardsPlayers %>% 
  group_by(playerID) %>% 
  tally()

head(nAwards)

  playerID  n
1 aaronha01 16
2 abbotji01  2
3 abernte02  2
4 abreubo01  2
5 abreujo02  2
6 adamsba01  2

In [41]:
nAwards %>% 
  # Filter to just the players in inducted 
  semi_join(inducted, by = "playerID") %>% 
  # Calculate the mean number of awards per player
  summarize(avg_n = mean(n, na.rm = TRUE))

  avg_n
1 12.14583

In [42]:
nAwards %>% 
  # Filter to just the players in nominated 
  semi_join(nominated, by = "playerID") %>%
  # Filter to players NOT in inducted 
  anti_join(inducted, by = "playerID") %>%
  # Calculate the mean number of awards per player
  summarize(avg_n = mean(n, na.rm = TRUE))

  avg_n
1 4.231054

## DOES MAXIMUM SALARY EARNED BY INDUCTEES TEND TO BE GREATER THAN NOMINEES NOT INDUCTED?

In [46]:
# Find the players who are in nominated, but not inducted
notInducted <- nominated %>% 
  setdiff(inducted)

In [47]:
Salaries %>% 
  # Find the players who are in notInducted
  semi_join(notInducted, by = "playerID") %>% 
  # Calculate the max salary by player
  group_by(playerID) %>% 
  summarise(max_salary = max(salary)) %>% 
  # Calculate the average of the max salaries
  summarise(avg_salary = mean(max_salary))

  avg_salary
1 5124653

In [48]:
# Repeat for players who were inducted
Salaries %>% 
  semi_join(inducted, by = "playerID") %>% 
  group_by(playerID) %>% 
  summarise(max_salary = max(salary)) %>% 
  summarise(avg_salary = mean(max_salary))

  avg_salary
1 6092038

!!! Careful for missing salary

## TEST FACT: PLAYERS CANNOT BE NOMINATED UNTIL 5 YEARS AFTER THEY RETIRE

In [49]:
Appearances %>% 
  # Filter Appearances against nominated
  semi_join(nominated, by = "playerID") %>% 
  # Find last year played by player
  group_by(playerID) %>% 
  summarise(last_year = max(yearID)) %>% 
  # Join to full HallOfFame
  left_join(HallOfFame, by = "playerID") %>% 
  # Filter for unusual observations
  filter(last_year >= yearID)

   playerID  last_year yearID votedBy          ballots needed votes inducted
1  cissebi01 1938      1937   BBWAA            201     151      1   N
2  cochrmi01 1937      1936   BBWAA            226     170     80   N
3  deandi01  1947      1945   BBWAA            247     186     17   N
4  deandi01  1947      1946   Final Ballot     263     198     45   N
5  deandi01  1947      1946   Nominating Vote  202      NA     40   N
6  deandi01  1947      1947   BBWAA            161     121     88   N
7  dickebi01 1946      1945   BBWAA            247     186     17   N
8  dickebi01 1946      1946   Nominating Vote  202      NA     40   N
9  dickebi01 1946      1946   Final Ballot     263     198     32   N
10 dimagjo01 1951      1945   BBWAA            247     186      1   N
11 foxxji01  1945      1936   BBWAA            226     170     21   N
12 francju02 2014      2013   BBWAA            569     427      6   N
13 friscfr01 1937      1936   BBWAA            226     170     14   N
14 gehrich01 1942      1936   BBWAA            226     170      0   N
15 gehrilo01 1939      1936   BBWAA            226     170     51   N
16 gehrilo01 1939      1939   Special Election  NA      NA     NA   Y
17 gordojo01 1950      1945   BBWAA            247     186      1   N
18 greenha01 1947      1945   BBWAA            247     186      3   N
19 grovele01 1941      1936   BBWAA            226     170     12   N
20 hartnga01 1941      1936   BBWAA            226     170      0   N
21 hermaba01 1945      1942   BBWAA            233     175      1   N
22 hornsro01 1937      1936   BBWAA            226     170    105   N
23 hornsro01 1937      1937   BBWAA            201     151     53   N
24 lyonste01 1946      1945   BBWAA            247     186      4   N
25 lyonste01 1946      1946   Nominating Vote  202      NA      3   N
26 martipe01 1944      1942   BBWAA            233     175      2   N
27 medwijo01 1948      1948   BBWAA            121      91      1   N
28 minosmi01 1980      1969   BBWAA            340     255      6   N
29 mungova01 1945      1945   BBWAA            247     186      1   N
30 paigesa01 1965      1951   BBWAA            226     170      1   N
31 rijojo01  2002      2001   BBWAA            515     387      1   N
32 rizzuph01 1956      1956   BBWAA            193     145      1   N
33 simmoal01 1944      1936   BBWAA            226     170      4   N
34 spahnwa01 1965      1958   BBWAA            266     200      1   N
35 stephjo03 2002      1979   BBWAA            432     324      0   N
36 terrybi01 1936      1936   BBWAA            226     170      9   N
37 traynpi01 1937      1936   BBWAA            226     170     16   N
38 vandejo01 1951      1945   BBWAA            247     186      1   N
39 waltebu01 1950      1950   BBWAA            168     126      4   N
   category needed_note
1  Player   NA
2  Player   NA
3  Player   NA
4  Player   NA
5  Player   Top 20
6  Player   NA
7  Player   NA
8  Player   Top 20
9  Player   NA
10 Player   NA
11 Player   NA
12 Player   NA
13 Player   NA
14 Player   NA
15 Player   NA
16 Player   NA
17 Player   NA
18 Player   NA
19 Player   NA
20 Player   NA
21 Player   NA
22 Player   NA
23 Player   NA
24 Player   NA
25 Player   Top 20
26 Player   NA
27 Player   NA
28 Player   NA
29 Player   NA
30 Player   NA
31 Player   NA
32 Player   NA
33 Player   NA
34 Player   NA
35 Player   NA
36 Player   NA
37 Player   NA
38 Player   NA
39 Player   NA

Quite a few players have been nominated before they retired, but this practice seems much less frequent in recent years.