In [4]:
# Load packages
library(dplyr)
library(tidyr)
load('ucb_admit.Rdata')

## NUMBER OF MALES AND FEMALES ADMITTED

In [5]:
# Count number of male and female applicants admitted
ucb_counts <- ucb_admit %>%
  count(Admit, Gender)

# View result
ucb_counts

  Admit    Gender n
1 Admitted Male   1198
2 Admitted Female  557
3 Rejected Male   1493
4 Rejected Female 1278

In [6]:
# Spread the output across columns
ucb_counts %>%
  spread(Admit, n)

  Gender Admitted Rejected
1 Male   1198     1493
2 Female  557     1278

## PROPORTION OF MALES ADMITTED OVERALL

In [7]:
ucb_admit %>%
  # Table of counts of admission status and gender
  count(Admit, Gender) %>%
  # Spread output across columns based on admission status
  spread(Admit, n) %>%
  # Create new variable
  mutate(Perc_Admit = Admitted / (Admitted + Rejected))

  Gender Admitted Rejected Perc_Admit
1 Male   1198     1493     0.4451877
2 Female  557     1278     0.3035422

## PROPORTION OF MALES ADMITTED FOR EACH DEPARTMENT

In [10]:
ucb_admission_counts <- ucb_admit %>%
  # Counts by department, then gender, then admission status
  count(Dept, Gender, Admit)

# See the result
head(ucb_admission_counts)

  Dept Gender Admit    n
1 A    Male   Admitted 512
2 A    Male   Rejected 313
3 A    Female Admitted  89
4 A    Female Rejected  19
5 B    Male   Admitted 353
6 B    Male   Rejected 207

In [11]:
ucb_admission_counts  %>%
  # Group by department, then gender
  group_by(Dept, Gender) %>%
  # Create new variable
  mutate(prop = n / sum(n)) %>%
  # Filter for male and admitted
  filter(Gender == "Male", Admit == "Admitted")

  Dept Gender Admit    n   prop
1 A    Male   Admitted 512 0.62060606
2 B    Male   Admitted 353 0.63035714
3 C    Male   Admitted 120 0.36923077
4 D    Male   Admitted 138 0.33093525
5 E    Male   Admitted  53 0.27748691
6 F    Male   Admitted  22 0.05898123

=> Within most departments, female applicants are more likely to be admitted.