<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#SELECT-(more-on-cheatsheet-on-helper-function)" data-toc-modified-id="SELECT-(more-on-cheatsheet-on-helper-function)-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>SELECT (more on cheatsheet on helper function)</a></span></li><li><span><a href="#MUTATE" data-toc-modified-id="MUTATE-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>MUTATE</a></span></li><li><span><a href="#FILTER" data-toc-modified-id="FILTER-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>FILTER</a></span></li><li><span><a href="#ARRANGE" data-toc-modified-id="ARRANGE-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>ARRANGE</a></span></li><li><span><a href="#SUMMARIZE" data-toc-modified-id="SUMMARIZE-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>SUMMARIZE</a></span></li><li><span><a href="#GROUP-BY" data-toc-modified-id="GROUP-BY-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>GROUP BY</a></span></li></ul></div>

In [1]:
library(hflights)
library(dplyr)

Warning message:
"package 'hflights' was built under R version 3.5.2"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

## SELECT (more on cheatsheet on helper function)

In [6]:
# Print out a tbl as described in the second instruction, using both helper functions and variable names
head(select(hflights, ArrTime:UniqueCarrier, ends_with("Num"), starts_with("Cancell")))

     ArrTime UniqueCarrier FlightNum TailNum Cancelled CancellationCode
5424 1500    AA            428       N576AA  0
5425 1501    AA            428       N557AA  0
5426 1502    AA            428       N541AA  0
5427 1513    AA            428       N403AA  0
5428 1507    AA            428       N492AA  0
5429 1503    AA            428       N262AA  0

In [7]:
# Comparison to base R
head(hflights[c('ArrTime', 'UniqueCarrier', 'FlightNum', 'Cancelled', 'CancellationCode')])

     ArrTime UniqueCarrier FlightNum Cancelled CancellationCode
5424 1500    AA            428       0
5425 1501    AA            428       0
5426 1502    AA            428       0
5427 1513    AA            428       0
5428 1507    AA            428       0
5429 1503    AA            428       0

## MUTATE

In [9]:
# Add the three variables as described in the third instruction: m2
head(mutate(hflights, 
            TotalTaxi = TaxiIn + TaxiOut, 
            ActualGroundTime = ActualElapsedTime - AirTime, 
            Diff = TotalTaxi - ActualGroundTime))

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     1          6         1400    1500    AA            428
2 2011 1     2          7         1401    1501    AA            428
3 2011 1     3          1         1352    1502    AA            428
4 2011 1     4          2         1403    1513    AA            428
5 2011 1     5          3         1405    1507    AA            428
6 2011 1     6          4         1359    1503    AA            428
  TailNum ActualElapsedTime ... Dest Distance TaxiIn TaxiOut Cancelled
1 N576AA  60                ... DFW  224      7      13      0
2 N557AA  60                ... DFW  224      6       9      0
3 N541AA  70                ... DFW  224      5      17      0
4 N403AA  70                ... DFW  224      9      22      0
5 N492AA  62                ... DFW  224      9       9      0
6 N262AA  64                ... DFW  224      6      13      0
  CancellationCode Diverted TotalTaxi ActualGroundTime Diff
1                  0        20        20               0
2                  0        15        15               0
3                  0        22        22               0
4                  0        31        31               0
5                  0        18        18               0
6                  0        19        19               0

## FILTER

In [12]:
# All flights flown by one of AA, BS or CO
head(filter(hflights, UniqueCarrier %in% c("AA", "BS", "CO")))

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     1          6         1400    1500    AA            428
2 2011 1     2          7         1401    1501    AA            428
3 2011 1     3          1         1352    1502    AA            428
4 2011 1     4          2         1403    1513    AA            428
5 2011 1     5          3         1405    1507    AA            428
6 2011 1     6          4         1359    1503    AA            428
  TailNum ActualElapsedTime ... ArrDelay DepDelay Origin Dest Distance TaxiIn
1 N576AA  60                ... -10       0       IAH    DFW  224      7
2 N557AA  60                ...  -9       1       IAH    DFW  224      6
3 N541AA  70                ...  -8      -8       IAH    DFW  224      5
4 N403AA  70                ...   3       3       IAH    DFW  224      9
5 N492AA  62                ...  -3       5       IAH    DFW  224      9
6 N262AA  64                ...  -7      -1       IAH    DFW  224      6
  TaxiOut Cancelled CancellationCode Diverted
1 13      0                          0
2  9      0                          0
3 17      0                          0
4 22      0                          0
5  9      0                          0
6 13      0                          0

In [13]:
# All flights that departed before 5am or arrived after 10pm
head(filter(hflights, DepTime < 500 | ArrTime > 2200))

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1      4         2         2100    2207    AA             533
2 2011 1     14         5         2119    2229    AA             533
3 2011 1     10         1         1934    2235    AA            1294
4 2011 1     26         3         1905    2211    AA            1294
5 2011 1     30         7         1856    2209    AA            1294
6 2011 1      9         7         1938    2228    AS             731
  TailNum ActualElapsedTime ... ArrDelay DepDelay Origin Dest Distance TaxiIn
1 N4XGAA   67               ... 47       55       IAH    DFW   224     3
2 N549AA   70               ... 69       74       IAH    DFW   224     5
3 N3BXAA  121               ... 80       99       IAH    MIA   964     3
4 N3BXAA  126               ... 56       70       IAH    MIA   964     5
5 N3CPAA  133               ... 54       61       IAH    MIA   964     7
6 N609AS  290               ... 78       73       IAH    SEA  1874     5
  TaxiOut Cancelled CancellationCode Diverted
1 22      0                          0
2 20      0                          0
3 11      0                          0
4 10      0                          0
5 18      0                          0
6 32      0                          0

## ARRANGE

In [16]:
# Definition of dtc
dtc <- filter(hflights, Cancelled == 1, !is.na(DepDelay))

# Arrange flights by total delay (normal order).
head(arrange(hflights, desc(DepDelay + ArrDelay)))

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 12    12         1          650     808    AA            1740
2 2011  8     1         1          156     452    CO               1
3 2011 11     8         2          721     948    MQ            3786
4 2011  6    21         2         2334     124    UA             855
5 2011  5    20         5          858    1027    MQ            3328
6 2011  6     9         4         2029    2243    MQ            3859
  TailNum ActualElapsedTime ... ArrDelay DepDelay Origin Dest Distance TaxiIn
1 N473AA   78               ... 978      970      IAH    DFW   224     14
2 N69063  476               ... 957      981      IAH    HNL  3904      5
3 N502MQ  147               ... 918      931      IAH    ORD   925      9
4 N670UA  230               ... 861      869      IAH    SFO  1635      3
5 N609MQ   89               ... 822      803      HOU    DFW   247     10
6 N6EAMQ  134               ... 793      814      IAH    ORD   925      9
  TaxiOut Cancelled CancellationCode Diverted
1 15      0                          0
2 10      0                          0
3 18      0                          0
4 11      0                          0
5 24      0                          0
6  8      0                          0

## SUMMARIZE

In [24]:
# Generate summarizing statistics for hflights
summarise(hflights,
          n_obs1 = n(),
          n_obs2 = nrow(hflights),
          n_carrier = n_distinct(UniqueCarrier),
          max_div = max(Distance))

  n_obs1 n_obs2 n_carrier max_div
1 227496 227496 15        3904

## GROUP BY

In [25]:
# Find the most visited destination for each carrier
hflights %>% 
  group_by(UniqueCarrier, Dest) %>%
  summarise(n = n()) %>%
  mutate(rank = rank(desc(n))) %>%
  filter(rank == 1)

   UniqueCarrier Dest n    rank
1  AA            DFW  2105 1
2  AS            SEA   365 1
3  B6            JFK   695 1
4  CO            EWR  3924 1
5  DL            ATL  2396 1
6  EV            DTW   851 1
7  F9            DEN   837 1
8  FL            ATL  2029 1
9  MQ            DFW  2424 1
10 OO            COS  1335 1
11 UA            SFO   643 1
12 US            CLT  2212 1
13 WN            DAL  8243 1
14 XE            CRP  3175 1
15 YV            CLT    71 1

In [27]:
# Ordered overview of average arrival delays per carrier
hflights %>%
  filter(!is.na(ArrDelay), ArrDelay > 0) %>%
  group_by(UniqueCarrier) %>%
  summarise(avg = mean(ArrDelay, na.rm = TRUE)) %>%
  mutate(rank = rank(avg)) %>%
  arrange(rank)

   UniqueCarrier avg      rank
1  YV            18.67568  1
2  F9            18.68683  2
3  US            20.70235  3
4  CO            22.13374  4
5  AS            22.91195  5
6  OO            24.14663  6
7  XE            24.19337  7
8  WN            25.27750  8
9  FL            27.85693  9
10 AA            28.49740 10
11 DL            32.12463 11
12 UA            32.48067 12
13 MQ            38.75135 13
14 EV            40.24231 14
15 B6            45.47744 15